@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Styles */
.hero-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Scroll Snap */
.snap-y {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-start {
  scroll-snap-align: start;
}
